/*
 * ADS1299 evaluation board wiring for nRF54L15 DK.
 *
 * Current signal wiring:
 * ADS1299 J3-3   CLK/SCLK  -> nRF P0.00
 * ADS1299 J3-7   CS        -> nRF P0.03
 * ADS1299 J3-8   RESETB    -> nRF P0.04
 * ADS1299 J3-11  DIN/MOSI  -> nRF P0.01
 * ADS1299 J3-13  DOUT/MISO -> nRF P0.02
 * ADS1299 J3-15  DRDYB     -> nRF P0.05
 * ADS1299 J3-18  GND       -> nRF GND
 * ADS1299 JP22   START     -> nRF P0.06
 *
 * Current power wiring:
 * ADS1299 J4-10  VCC_5V    <- nRF VBUS/5V
 * ADS1299 J4-9   VCC_3.3V  <- nRF 3.3V
 * ADS1299 J4-8   GND       <- nRF GND
 *
 * Power check:
 * TP7  - TP8 = about 5 V
 * TP10 - TP8 = about 3.3 V
 *
 * Not connected:
 * J3-1, J3-2, J3-4, J3-12, J3-14, J3-16, J3-17, J3-19, J3-20
 *
 * DVDD level must match the nRF GPIO voltage domain.
 */

#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>

/ {
	ads1299_control: ads1299-control {
		compatible = "ti,ads1299-control";
		cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
		drdy-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		start-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
	};
};

&pinctrl {
	spi21_ads1299_default: spi21_ads1299_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 0)>,
				<NRF_PSEL(SPIM_MOSI, 0, 1)>,
				<NRF_PSEL(SPIM_MISO, 0, 2)>;
		};
	};

	spi21_ads1299_sleep: spi21_ads1299_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 0)>,
				<NRF_PSEL(SPIM_MOSI, 0, 1)>,
				<NRF_PSEL(SPIM_MISO, 0, 2)>;
			low-power-enable;
		};
	};
};

&spi21 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi21_ads1299_default>;
	pinctrl-1 = <&spi21_ads1299_sleep>;
	pinctrl-names = "default", "sleep";

	ads1299: ads1299@0 {
		compatible = "ti,ads1299";
		reg = <0>;
		spi-max-frequency = <125000>;
	};
};
